body {
 background-color: #8c684E
}

.topHeading {
    color: #4DFFFE;
}

th, td, p {
    color: #ffcf35;
}

#next{
    float: right;
    margin-right: 10%;
    padding: 15px;
}

#back{
    float: left;
    margin-left: 10%;
    padding: 15px;
}

#incorrectPoints{
    text-align: center;
}