body{
    background-color: #9566F4
    
}
table {
    padding: 18px;
}

#Class p{
    display:inline-block;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 20px;
    border-style: solid;
    border-width: thick;
    border-color:#CE532A;
    background-color: #46423f
}

#Class {
    text-align: center;
}

