body{
    background-color: #9566F4
    
}
table {
    padding: 18px;
}

.modifier{
    text-align: center;
}

table{
    margin: auto;
    width: 60%;
    padding: 10px;
    border-collapse:collapse;
}

td,th{
    border-style: solid;
    border-width: thick;
    border-color:#B5E8E8;
    padding: 10px 10px 10px 10px;
}

.value{
    text-align: center;
}

h1{
    color: ffd3d3;
}

th, td, p{
    color: #E0F5F5;
}
