table {
    padding: 18px;
}

.modifier{
    text-align: center;
}

table{
    margin: auto;
    width: 60%;
    padding: 10px;
    border-collapse:collapse;
}

td,th{
    border-style: solid;
    border-width: thick;
    border-color:#B5E8E8;
    padding: 10px 10px 10px 10px;
}

h3{
    color: #46423f;
}

.value{
    text-align: center;
}

